<footer>
    <div class="social">  
        <p>Redes de la biblioteca</p>
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
            <img src="/svg/facebook.svg" alt="">
        </a>
        <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
            <img src="/svg/instagram.svg" alt="">
        </a>
        <a href="https://youtube.com" target="_blank" rel="noopener noreferrer">
            <img src="/svg/youtube.svg" alt="">
        </a>
    </div>
    <p class="copyright">&copy; 2025 Federico Rudolph</p>  
</footer>
