<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/services">Servicios</a></li>  
        <li><a href="/afiliate">Afiliados</a></li>
        <li><a href="/events">Eventos y actividades</a></li>
        <li><a href="/catalog">Catálogo</a></li>
        <li><a href="/newspaper">Noticias</a></li>
        <li><a href="/about">Sobre la biblioteca</a></li>
        <li><a href="/contact">Contacto</a></li>
    </ul>
</nav>

<style>
    
</style>