---
import '../styles/global.css';
import Logo from "../components/Logo.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from 'astro:transitions';
export interface Props {
	title?: string; // El "?" indica que es opcional, por defecto es "Reflexiones de sillón"
	description?: string;
}
const { title = "Biblioteca",
		description = "Biblioteca de libros"
} = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/phicon.svg" /> <!-- icono de la web -->
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} /> <!-- generador de la web -->
		<title>{title}</title> 
		<ClientRouter /> <!-- router para las transiciones -->
	</head>	
	</head>
	<body>
        <header>
            <Logo />
            <Navigation />
        </header>

        <main>
            <slot />
        </main>
        <footer>
            <Footer />            
        </footer>       
	</body>
</html>