---
import '../styles/global.css';
import '../styles/variables.css';
import Header from '../components/Header.astro';
import Content from '../components/Content.astro';
import Footer from "../components/Footer.astro";
import { ClientRouter } from 'astro:transitions';

export interface Props {
	title?: string;
	description?: string;
}

const { title = "Biblioteca",
		description = "Biblioteca de libros"
} = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title> 
		<ClientRouter />
	</head>
	<body>
        <Header />

        <Content />
        
        <Footer />               
	</body>
</html>

<style>

body {
    background-color: var(--white-bg); /* Cambiado de #f5f5f5 a variable */
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

</style>